// SASS Files import
@import "static";
@import "header.scss";
@import "sidebar.scss";
@import "main.scss";
// @import "dropdown.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $dark_blue;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: $white;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header  */

/* End Header  */

/* Sidebar  */

/* End Sidebar  */

/* Main  */

/* End Main  */

//todo! this file is for media queries
//todo! this file should be imported at the end of the main.scss file
@import "mediaquery.scss";
