.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
}

.chart-item {
  /* Add any styles for individual charts */
}

@media screen and (min-width: 1024px) {
  .chart-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .chart-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .chart-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
