.icon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: none; /* Initially hide the dropdown */
}

.profile:hover .dropdown-menu {
  display: block; /* Show the dropdown on hover */
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

// .dropdown-menu {
//   position: absolute;
//   top: 50px;
//   right: 0;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   padding: 10px 0;
//   display: none; /* Initially hide the dropdown */
// }

// .dropdown-menu.active {
//   display: block; /* Show the dropdown when active */
// }

// .dropdown-menu ul {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .dropdown-menu ul li {
//   padding: 10px 20px;
//   cursor: pointer;
// }

// .dropdown-menu ul li:hover {
//   background-color: #f0f0f0;
// }
