//todo: Color
$white: #ffffff; //white
$dark_blue: #090c31; //dark blue
$purple: #5853ff; //purple
$black: #000000; //black
$red: #ee1c25; //red
$grey: #cccccc; //grey

//Fonts
$primary: "Roboto";
$secondary: "cursive";
$third: "sans-serif";
